body {
    background: url('capybara.gif') no-repeat center center fixed; /* This ensures the image is centered and fixed */
    background-size: cover; /* This ensures the background image covers the entire screen */
    height: 100vh; /* Make sure the body takes the full height of the viewport */
    margin: 0; /* Remove default margin */

    
    
}

#countdown_timer_runny {
    position: absolute;
    color: #ffffff;
    font-size: 5rem;
    font-weight: 800;
    font-family: sans-serif;
    margin-top: 68vh;
    margin-left: 870px;
}

/* Button styling */
#startButton {
    position: absolute;
    bottom: 90px; /* Moves button down */
    left: 67.5%;
    transform: translateX(-50%); /* Centers button */
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #FFD700;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#startButton:hover {
    background-color: #FFC107;
}
